In [2]:
##############
#Dependencies#
##############
%matplotlib notebook
import datetime
import pandas
import numpy as np
import folium

In [4]:
route = ['S567','S583','S568','S582','S569','S570','S581',
'S571','S579','S572','S578','S573',"S577","S587"]
station_df = pandas.read_csv('Data/station_config.csv')
route_df= pandas.read_csv('Data/route_summary.csv')
station_df = station_df.set_index("Station")
route_df = route_df.set_index("Station")
route_df= route_df.replace("UNKNOWN",0)
route_df= route_df.fillna(0)
route_df.head()

         Station.1                          Time Occupancy Speed Flow
Station
S567           0.0  Wed Oct 03 01:16:59 CDT 2018      0.31    54    0
S567           0.0  Wed Oct 03 01:16:59 CDT 2018      0.31    54    0
S567           0.0  Sun Oct 07 21:21:29 CDT 2018      4.13    63  600
S583           0.0  Wed Oct 03 01:16:59 CDT 2018      0.24    55    0
S583           0.0  Wed Oct 03 01:16:59 CDT 2018      0.24    55    0

In [16]:
set(list(route_df.index))==set(route)
len(set(list(route_df.index)))
len(route)
len(route_df)
set(route).issubset(set(list(route_df.index)))
set(list(route_df.index)).difference(set(route))

False

15

14

270

True

{'S580'}

In [23]:
station_df.head()
len(station_df)
#set(list(station_df.index))
station_df.loc[route ,:]

         Unnamed: 0       Lat       Lng
Station
no ID             0  44.00701 -92.48221
no ID             1  45.60591 -94.48746
no ID             2  45.60418 -94.48424
no ID             3  45.60406 -94.48413
no ID             4  45.60404 -94.48405

12616

         Unnamed: 0       Lat       Lng
Station
S567           1907  44.97447 -93.24870
S583           2135  44.98175 -93.24397
S568           1912  44.98399 -93.24197
S582           2128  44.99115 -93.23659
S569           1919  44.99116 -93.23629
S570           1923  44.99644 -93.23823
S581           2125  44.99646 -93.23853
S571           1926  45.00199 -93.23465
S579           2116  45.00091 -93.22346
S572           1931  45.00070 -93.22349
S578           2112  45.00302 -93.21487
S573           1935  45.00515 -93.20947
S577           2108  45.01014 -93.20040
S587           8969  45.00891 -93.20233

In [25]:

Results = {}


locations = []

for station in route:
        Occupancy =  float(route_df.loc[station,'Occupancy'].tail(1)[0])
        Speed = int(route_df.loc[station,'Speed'].tail(1)[0])
#         print(station)
#         print(route_df.loc[station,'Occupancy'])
#         print(route_df.loc[station,'Occupancy'].tail(1))
#         break

        Max_Occupancy = route_df.loc[station,'Occupancy'].astype(dtype="float")
        Max_Occupancy = max(Max_Occupancy.values)
        Max_Speed = route_df.loc[station,'Speed'].astype(dtype="int")
        Max_Speed = max(Max_Speed.values)
        
        lat, lon = station_df.loc[station, ['Lat', 'Lng']]
        locations.append((lat, lon))
        #print(lat, lon)
        #break
        Results[station] = {
            "Current Speed" : Speed,
            "Current Occupancy" : Occupancy,
            "Max Speed" : Max_Speed,
            "Max Occupancy" : Max_Occupancy,
            "% of Max Speed" : round(Speed / Max_Speed * 100, 2),
            "% of Max Occupancy" : round(Occupancy / Max_Occupancy * 100, 2) ,
            "Lat":lat, 
            "Lon":lon}

In [26]:
Results = pandas.DataFrame(Results).T
Results.head()
Results

,% of Max Occupancy,% of Max Speed,Current Occupancy,Current Speed,Lat,Lon,Max Occupancy,Max Speed
S567,88.38,100.00,3.65,63.0,44.97447,-93.24870,4.13,63.0
S583,56.26,96.72,2.65,59.0,44.98175,-93.24397,4.71,61.0
S568,57.39,69.81,2.33,37.0,44.98399,-93.24197,4.06,53.0
S582,100.00,73.56,5.85,64.0,44.99115,-93.23659,5.85,87.0
S569,37.62,96.74,1.61,89.0,44.99116,-93.23629,4.28,92.0

,% of Max Occupancy,% of Max Speed,Current Occupancy,Current Speed,Lat,Lon,Max Occupancy,Max Speed
S567,88.38,100.00,3.65,63.0,44.97447,-93.24870,4.13,63.0
S583,56.26,96.72,2.65,59.0,44.98175,-93.24397,4.71,61.0
S568,57.39,69.81,2.33,37.0,44.98399,-93.24197,4.06,53.0
S582,100.00,73.56,5.85,64.0,44.99115,-93.23659,5.85,87.0
S569,37.62,96.74,1.61,89.0,44.99116,-93.23629,4.28,92.0
S570,100.00,85.54,3.87,71.0,44.99644,-93.23823,3.87,83.0
S581,30.26,86.84,1.54,66.0,44.99646,-93.23853,5.09,76.0
S571,68.12,93.33,5.17,56.0,45.00199,-93.23465,7.59,60.0
S579,56.10,100.00,2.07,66.0,45.00091,-93.22346,3.69,66.0
S572,100.00,91.18,3.59,62.0,45.00070,-93.22349,3.59,68.0
S578,97.49,96.61,3.11,57.0,45.00302,-93.21487,3.19,59.0
S573,78.79,70.09,2.08,82.0,45.00515,-93.20947,2.64,117.0
S577,92.06,98.51,3.48,66.0,45.01014,-93.20040,3.78,67.0
S587,31.09,100.00,0.83,56.0,45.00891,-93.20233,2.67,56.0

In [50]:
Results.dtypes

% of Max Occupancy    float64
% of Max Speed        float64
Current Occupancy     float64
Current Speed         float64
Lat                   float64
Lon                   float64
Max Occupancy         float64
Max Speed             float64
dtype: object

In [27]:
folium_map = folium.Map(locations[5],
                        zoom_start=13,
                        tiles="CartoDB positron")
for index, row in Results.iterrows():

    
    folium.CircleMarker(location=(row["Lat"],
                                  row["Lon"]),
                        radius=1,
                        
                        fill=True).add_to(folium_map)

In [7]:
Features = []
Last_Sensor = []
for index, row in Results.iterrows():
    Current_Sensor = (row['Lat'], row['Lon'])
    if Last_Sensor == [] :
        Last_Sensor = (row['Lat'], row['Lon'])
    else:
    
        folium.PolyLine([Current_Sensor,Last_Sensor],
         weight=row['Current Occupancy'] * 2.5,
                        popup=f"Speed:{row['Current Speed']} Occupancy: {row['Current Occupancy']}").add_to(folium_map)

        Last_Sensor = (row['Lat'], row['Lon'])

In [28]:
folium_map

In [13]:
folium_map.save(f'results/maps/routemap{datetime.datetime.now().strftime("%b%d_%H%M%S")}.html')
print(f'Map saved at results/maps/routemap{datetime.datetime.now().strftime("%b%d_%H%M%S")}.html')

Map saved at results/maps/routemapOct07_075654.html

In [29]:
import gmaps
import sys
sys.path.append('../')

# Google developer API key
from config import gkey,gkey_route
gmaps.configure(api_key=gkey)
gmaps.configure(api_key=gkey_route)

In [54]:

fig = gmaps.figure()

Last_Sensor = []

def color_fuc(x):
    if x<15:
        color="red"
    elif x<45:
        color="yellow"
    else:
        color="green"
        
    return color
for index, row in Results.iterrows():
    Current_Sensor = (row['Lat'], row['Lon'])
    if Last_Sensor == [] :
        Last_Sensor = (row['Lat'], row['Lon'])
    else:
        directions = gmaps.directions_layer(Current_Sensor, Last_Sensor, stroke_color=color_fuc(row['Current Speed']),stroke_weight=row['Current Occupancy'],show_markers=True)
        fig.add_layer(directions)
        
#         folium.PolyLine([Current_Sensor,Last_Sensor],
#          weight=row['Current Occupancy'] * 2.5,
#                         popup=f"Speed:{row['Current Speed']} Occupancy: {row['Current Occupancy']}").add_to(folium_map)

        Last_Sensor = (row['Lat'], row['Lon'])


# start=0
# for end in range(1,8):
#     start_pos=(station_df.loc[start,"Lat"],station_df.loc[start,"Lng"])
#     end_pos=(station_df.loc[end,"Lat"],station_df.loc[end,"Lng"])
   
    
#     directions = gmaps.directions_layer(start_pos, end_pos, stroke_color='green',stroke_weight=2.0,show_markers=False)
#     fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
len(Results)
Current_Sensor

In [33]:
import ipywidgets as widgets
import time
from IPython.display import display

out = widgets.Output(layout={'border': '1px solid black'})
out

Output(layout=Layout(border='1px solid black'))

In [48]:

#fig = gmaps.figure()

Last_Sensor = []
for index, row in Results.iterrows():
    Current_Sensor = (row['Lat'], row['Lon'])
    if Last_Sensor == [] :
        Last_Sensor = (row['Lat'], row['Lon'])
    else:
        
        with out:
            fig = gmaps.figure(center=Current_Sensor, zoom_level=14)
            directions = gmaps.directions_layer(Current_Sensor, Last_Sensor, stroke_color='green',stroke_weight=row['Current Occupancy'],show_markers=True)
            fig.add_layer(directions)
            fig
            out.clear_output(wait=True)
        time.sleep(5)  
        a=input("next? yes/no")
        if a=="no":
            break
        else:
            pass       
        Last_Sensor = (row['Lat'], row['Lon'])

next? yes/nono

In [42]:
fig = gmaps.figure(center=(45.00891, -93.20233), zoom_level=13)
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))